[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vdf = "*"
python-steamgriddb = "*"
requests = "*"
beautifulsoup4 = "*"
jellyfish = "*"
pysimplegui = "*"
psgdemos = "*"
pillow = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
